/*Navigation manu style */
*{
    margin: 0;
    padding: 0%;
    scroll-behavior: smooth;
}
.nav,
.menu-conteiner,
.hero,
.hero2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav,.hero{
    background-color: #004644;
    padding: 20px 142px;
}
.menu a{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: aliceblue;
    text-decoration:none ;
    padding-right: 30px;
} 
.btm a{
    background-color: transparent;
    border: 2px solid cadetblue;
    padding: 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
} 
.btm a:hover{
    background-color: aliceblue;
    color: #004644;
}
/*********************************
hero section style start
**********************************/

.hero-text h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: left;
    padding-bottom: 25px;

}
.hero-text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(151, 160, 163);
    padding-bottom:40px;
    line-height: 30px;
}
.hero-text a{
    background-color: #d35931;
    border: 2px solid cadetblue;
    padding: 15px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    

}
.hero-text a:hover{
    background-color: #004644;
    color: #ffffff;
}
/* hero2 designe start */
.hero2{
    background-color: #F7F6FA;
    padding: 80px 120px;
    
}
.fast-text h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    font-weight: 180;
    color: rgb(25, 124, 116);
    text-align: left;
    padding-bottom: 25px;
    

}
.fast-text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight:800px;
    color: rgb(83, 88, 88);
    text-align: left;
     line-height: 30px;
    padding-bottom: 30px;
    
}
.fast-text a{ 
    background-color: #047c78;
    border: 2px solid rgb(10, 201, 207);
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
} 
.fast-img img{
    width: 90%;
    height: 100%;
}
/* servic style start */
.servic{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 130px;
    background-color:rgb(220, 251, 255) ;
}
.servic-1,.servic-2,.servic-3{
    width: 32%;
    background-color: white;
    padding: 30px;
}
.servic-1 img,.servic-2 img,.servic-3 img{
    width:300px;
    height: 400px;
    padding-bottom: 30px;

}
.servic-2{
    margin: 0px 30px;

}

.servic-1 p,.servic-2 p,.servic-3 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #047c78;
    padding-bottom: 30px;
}
.servic-1 a,.servic-2 a,.servic-3 a{
    background-color: #d35931;
    border: 2px solid rgb(183, 218, 219);
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
    /* servic style end */

    /* gallary style start */
.gallary{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    background-color:rgb(220, 251, 255) ;

}
.gallary-1 img{
    width:385px;
    height: 400px;
    margin: 10px 10px;
    padding-bottom: 40px;
}
.gallary h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    color: #d35931;
    padding-bottom: 30px;
}
.gallary p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:#004644;
    text-align: center;
    padding-bottom: 30px;
}
 

